/* Header Projeto Agrinho 2024 */

/*-------------------------------------------*/

ul {margin: 0;}
/* espaçamento interno para listagems do header */

#logo {font-size: 10px;
       font-weight: bold;
       background: #000000aa;
       color: cyan;
       text-shadow: 0px 0px 15px lime;
       width: 100px;
       padding: 10px;
       box-shadow: 0px 0px 15px cyan;
       text-shadow: 0px 0px 15px blue;
       border-radius: 50px;
       cursor: default;}
/* Nome do Projeto no header*/

#header {box-sizing: border-box;
         height: 10px;
         width: 100%;
         padding: 1rem;
         display: flex;
         box-shadow: 0px 0px 15px cyan;
         border: solid 2px black;
         align-items: center;
         justify-content: space-between;
         background: #157205e7;
         position: fixed;
         top: -3px;
         z-index: 2;}
/* definições para criação e espaçamento do header */

#menu {display: flex;
       list-style: none;
       gap: .5rem;}
/* Definições para o menu do header */

#menu a {display: block;
         font-size: 15px;
         font-weight: bold;
         text-decoration: none;
         padding: .5rem;}
/* definições para os links do menu */

/*-------------------------------------------*/

@media screen and (max-width: 700px){
  #menu a {font-size: 9px; 
           font-weight: bold;
           position: relative; right: 30px;}
}
/* definições para mobile-first, alterando o tamanho da fonte do menu para abranger mais espaço entre as "abas" */